<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuaggaJS Teste</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Quagga-->
    <script src="/js/quagga.min.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--Custom-->
    <script src="/js/leitor.js" defer></script>
    <script src="/js/consumo.js" defer></script>
    <style type="text/css">
        #camera video {
            width: 100%;
            border: 1px solid black;
            border-radius: 10px;
        }
        canvas{
            display:none;
        }
        #buttons {
            padding: 3px;
        }
        .leitor-container{
            border: 1px solid black;
            border-radius: 0.325rem;
        }
        #leitor{
            border-left: 1px solid black;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Cadastro
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Locação</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Reserva</a></li>
                    </ul>
                </li>
            </ul>
            <a class="btn btn-danger" id="btnLogout">Logout</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="leitor-container row mt-3">
        <div class="col-8 mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text" id="spCodBarras"><i class="fa-solid fa-barcode"></i></span>
                        <input id="codBarras" type="number" class="form-control" placeholder="Código de barras"
                               aria-label="codbarras"
                               aria-describedby="spCodBarras" disabled>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text" id="spNomeProduto"><i class="fa-solid fa-utensils"></i></span>
                        <input id="produto" list="produtos" class="form-control" placeholder="Produto"
                               aria-label="nomeProduto"
                               aria-describedby="spNomeProduto">
                        <datalist id="produtos">
                            <option th:each="produto : ${produtos}" th:value="${produto.descricao}"
                                    th:attr="data-id=${produto.id},
                                    data-cod-barras=${produto.cod_barras},
                                    data-preco=${produto.preco}">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-3 d-none infoProduto">
                    <div class="input-group">
                        <span class="input-group-text" id="spQtdProduto">Qtd.</span>
                        <input id="qtdProduto" type="number" class="form-control" placeholder="Quantidade"
                               aria-label="qtdProduto"
                               aria-describedby="spQtdProduto" min="1">
                    </div>
                </div>
                <div class="col-md-3 d-none infoProduto d-flex align-items-center">
                    <b>Valor Un.: </b><span id="valorProduto"></span>
                </div>
                <div class="col-md-3 d-none infoProduto d-flex align-items-center">
                    <b>Valor Total: </b><span id="valorTotalProduto"></span>
                </div>
                <div class="col-md-3 d-none infoProduto d-flex align-items-center">
                    <a class="btn btn-primary w-100">Incluir</a>
                </div>
            </div>
        </div>
        <div id="leitor" class="col-4">
            <div id="buttons">
                <a class="btn btn-primary btn-sm w-100" onclick="lerProduto()">Ler Código de Barras</a>
            </div>
            <div id="camera-container" class="d-none">
                <div id="camera"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>