<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuaggaJS Teste</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Quagga-->
    <script src="/js/quagga.min.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!--Custom-->
    <link rel="stylesheet" href="/css/default.css"/>
    <script src="/js/leitor.js" defer></script>
    <script src="/js/consumo.js" defer></script>
    <style type="text/css">
        #camera video {
            width: 100%;
            border: 1px solid black;
            border-radius: 10px;
        }
        canvas{
            display:none;
        }
        #buttons {
            padding: 3px;
        }
        .leitor-container, .consumos-container{
            border: 1px solid black;
            border-radius: 0.325rem;
        }
        #leitor{
            border-left: 1px solid black;
        }
        .separador-produto{
            margin: 0 !important;
            padding: 0 !important;
        }
        #consumos-container {
            max-height: 55vh;
            overflow-y: auto;
            border: 1px solid black;
            border-radius: 0.325rem;
            padding: 0 10px 10px 10px;
        }

        #consumos-container .row:first-child {
            position: sticky;
            top: 0;
            background: white;
            z-index: 10;
            border-bottom: 2px solid black;
            margin: 0 !important;
            padding: 0 !important;
        }


    </style>
</head>
<body>
<div th:insert="nav/navbar"></div>
<div class="container">
    <div class="leitor-container row mt-3">
        <div class="col-8 mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text" id="spCodBarras"><i class="fa-solid fa-barcode"></i></span>
                        <input id="codBarras" type="number" class="form-control" placeholder="Código de barras"
                               aria-label="codbarras"
                               aria-describedby="spCodBarras" disabled>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text" id="spNomeProduto"><i class="fa-solid fa-utensils"></i></span>
                        <input id="produto" list="produtos" class="form-control" placeholder="Produto"
                               aria-label="nomeProduto"
                               aria-describedby="spNomeProduto">
                        <datalist id="produtos">
                            <option th:each="produto : ${produtos}" th:value="${produto.descricao}"
                                    th:attr="data-id=${produto.id},
                                    data-cod-barras=${produto.cod_barras},
                                    data-preco=${produto.preco}">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-3 d-none infoProduto">
                    <div class="input-group">
                        <span class="input-group-text" id="spQtdProduto">Qtd.</span>
                        <input id="qtdProduto" type="number" class="form-control" placeholder="Quantidade"
                               aria-label="qtdProduto"
                               aria-describedby="spQtdProduto" min="1">
                    </div>
                </div>
                <div class="col-md-3 d-none infoProduto d-flex align-items-center">
                    <b>Valor Un.: </b><span id="valorProduto"></span>
                </div>
                <div class="col-md-3 d-none infoProduto d-flex align-items-center">
                    <b>Valor Total: </b><span id="valorTotalProduto"></span>
                </div>
                <div class="col-md-3 d-none infoProduto d-flex align-items-center">
                    <a id="btnIncluir" class="btn btn-primary w-100" th:attr="data-locacao=${locacao.id}">Incluir</a>
                </div>
            </div>
        </div>
        <div id="leitor" class="col-4">
            <div id="buttons">
                <a class="btn btn-primary btn-sm w-100" onclick="lerProduto()">Ler Código de Barras</a>
            </div>
            <div id="camera-container" class="d-none">
                <div id="camera"></div>
            </div>
        </div>
    </div>
    <div id="consumos-container" class="consumos-container row mt-2">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Consumos Locação: <span th:text="${locacao.id}"></span></h4>
            </div>
            <div class="col-sm-4">
                <h6 class="text-center">Quarto: <span th:text="${locacao.quarto.nome}"></span></h6>
            </div>
            <div class="col-sm-4">
                <h6 class="text-center">Check-In: <span
                        th:text="${#temporals.format(locacao.checkIn, 'dd/MM/yyyy HH:mm')}"></span></h6>
            </div>
            <div class="col-sm-4">
                <h6 class="text-center">Check-Out: <span
                        th:text="${#temporals.format(locacao.checkOut, 'dd/MM/yyyy HH:mm')}"></span></h6>
            </div>
        </div>
        <div id="itens-consumo">
            <div th:each="consumo : ${consumos}" class="item-consumo">
                <hr class="separador-produto">
                <div class="row">
                    <div class="col-md-8">
                        <b>Produto: </b><span th:text="${consumo.produto.descricao}"></span>
                    </div>
                    <div class="col-md-4">
                        <b>Data: </b><span th:text="${#temporals.format(consumo.data, 'dd/MM/yyyy HH:mm')}"></span>
                    </div>
                    <div class="col-md-4">
                        <b>Valor Un.: </b><span th:text="${#numbers.formatCurrency(consumo.preco)}"></span>
                    </div>
                    <div class="col-md-4">
                        <b>Quantidade: </b><span th:text="${consumo.quantidade}"></span>
                    </div>
                    <div class="col-md-4">
                        <b>Total : </b><span
                            th:text="${#numbers.formatCurrency(consumo.preco * consumo.quantidade)}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>