<div class="item-consumo">
    <hr class="separador-produto">
    <div class="row">
        <div class="col-md-8">
            <b>Produto: </b><span th:text="${consumo.produto.descricao}"></span>
        </div>
        <div class="col-md-4">
            <b>Data: </b><span th:text="${#temporals.format(consumo.data, 'dd/MM/yyyy HH:mm')}"></span>
        </div>
        <div class="col-md-4">
            <b>Valor Un.: </b><span th:text="${#numbers.formatCurrency(consumo.preco)}"></span>
        </div>
        <div class="col-md-4">
            <b>Quantidade: </b><span th:text="${consumo.quantidade}"></span>
        </div>
        <div class="col-md-4">
            <b>Total : </b><span th:text="${#numbers.formatCurrency(consumo.preco * consumo.quantidade)}"></span>
        </div>
    </div>
</div>
